<hr>
<h2><label>
  Practicing Directives
</label></h2>
<button class="btn btn-primary" 
        (click)="onCreateDirect()">Display Details</button>
<p *ngIf="directCreated">Secret Password = tuna</p>
<div *ngFor="let direct of directs"
    [ngClass]="{'bluewhite': direct >= 5}">
      <p>Log Number = {{ direct }}</p>
      <p>Time = {{today | date:'mediumTime'}}</p>
</div>
